body{
    background: url("weather.jpeg") no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    background-size: cover;
}
.loading{
    margin-top: 10em;
    color:white;
}
.weather-info {
    margin-top: 5em;
    display: none;
    color:white;
}

#cF {
    color: #EAD7C2;
    font-weight: 800;
    font-size: .6em;
}

div#temp-wrapper {
    overflow: hidden;
}

div#cf,
div#temp {
    float: left;
}

div#temp-wrapper {
    margin: 0 auto;
    width: 100px;
    color:white;
}

i.wi{ 
	padding:0.3em;
	font-size: 4em;
    color:white;
}
div.fc-container{
    overflow: hidden;
     margin: 0 auto;
     width:900px;
     background: rgba(139, 173, 187, .75);
     border-radius: 1em;
       -webkit-box-shadow: inset 0 0 2em rgba(238, 249, 251, .25);
       -moz-box-shadow: inset 0 0 2em rgba(238, 249, 251, .25);
       -o-box-shadow: inset 0 0 2em rgba(238, 249, 251, .25);
       box-shadow: inset 0 0 2em rgba(238, 249, 251, .25);
}

div.forecast{
    position: relative;
    float:left;
    padding:2em;
    color:white;
}

div.forecast:first-of-type{
    padding-left:3.8em;
}